h1 {
    text-align: left;
    font-size: large;
}

body {
    background-color: rgb(255, 255, 255);
}

.padtop {
    padding-top: .5in;
}

.gold {
    border: 1px outset goldenrod;
    background-color: rgba(218, 165, 32, 0.356);
    outline: 1px dotted black;
}

.orange {
    background-color: rgba(223, 84, 3, 0.151);
    outline: 1px dotted orangered;
}

.npc {
    background-color: rgba(3, 190, 223, 0.26);
    outline: 1px dotted rgb(2, 246, 246);
}

.pad {
    padding-left: 12px;
}

.green {
    background-color: rgba(0, 128, 0, 0.377);
}

.red {
    background-color: rgba(255, 0, 0, 0.486)
}

.blue {
    border: 1px outset blue;
    background-color: rgba(0, 0, 255, 0.26);
}

.yellow {
    background-color: rgba(255, 255, 0, 0.253);
}

.col {
    outline: 1px dotted black;
    background-color: rgba(255, 255, 255, 0.233);
}

.pop {
    color: rgba(183, 1, 255, 0.534);
    outline: dashed rgb(0, 0, 0);
}

div {
    padding: 5px;
}

footer {
    text-align: center;
    outline-style: double;
    padding: 5px
}

header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}